@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-cinzel: 'Cinzel', serif;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-cinzel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/* Optional helper classes */
.font-cinzel {
  font-family: var(--font-cinzel);
}
.font-inter {
  font-family: var(--font-inter);
}



button-gold-grain {
  box-shadow:
    inset 0 1px 1px rgba(255,255,255,0.3),
    inset 0 -2px 4px rgba(0,0,0,0.5),
    0 0 12px rgba(185,138,48,0.3);
}







